@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "compass/css3";

/* --- ALAP BEÁLLÍTÁSOK --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inspiracio-elem:hover {
  color: rgb(30, 30, 30);
}

body {
  background-color: rgb(30 30 30);
  font-family: "Rubik";
  color: #ffffff;
  line-height: 1.6;
  text-align: center;
  margin: 0;
  padding: 0px;
}

/* --- OLDAL KERET --- */
.oldal-keret {
  padding: 0px;
  border-radius: 10px;
}

/* --- FEJLÉC --- */
.fejlec {
}

.fooldal-cim {
  color: rgb(30, 30, 30);
  font-family: "Rubik";
  text-transform: uppercase;
  font-weight: bold;
  font-size: 80px;
  text-align: center;
  animation: glow 10s linear infinite;
}

.kiemeles {
  color: #ffffff;
  font-family: "Bungee";
  font-size: 100px;
  font-variant: small-caps;
  font-weight: bold;
  animation: glow 10s linear infinite;
}

.alcim {
  color: #ffffff;
  font-family: "Rubik";
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 10px 0px 50px 0px;
}

/* --- BEVEZETŐ --- */
.bevezeto {
  padding: 5px 5px 50px 5px;
}

.bevezeto-szoveg p {
  text-align: center;
  margin: 20px 25% 0px 25%;
}

/* --- KÁRTYÁK (a fő tartalom elemei) --- */
.kartya {
  border: 0px solid aqua;
  max-width: 600px;
  margin: 50px auto;
  padding: 50px;
  border-radius: 40px;
  text-align: left;
  background-color: rgb(30, 30, 30);
  box-shadow: 5px 5px 10px aqua;
  transition: transform 0.3s ease;
}

.kartya:hover {
  transform: scale(1.05);
}

.kartya-cim {
  font: 400 40px/1.5 "Rubik";
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
  margin: 0;
  padding-bottom: 20px;
  color: aqua;
}

/* --- SZABÁLYOK LISTA --- */
.szabaly-lista {
  writing-mode: horizontal-tb;
  list-style-type: 20pt;
  color: #ffffff;
  padding-left: 5%;
}

.szabaly {
  /* Egyes szabály elemek */
}

/* --- INSPIRÁCIÓ RÁCS --- */
.inspiracio-racsozat {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-top: 30px;
}

.inspiracio-elem {
  flex: 1;
  padding: 15px 15px 25px 25px;
  background-color: aqua;
  border-radius: 20px;
  margin: 10px auto;
}

.inspiracio-elem {
  /* Egyes inspiráció kártyák */
}

.inspiracio-elem h4 {
  font: "Rubik";
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

/* --- TECHNOLÓGIA BADGE-EK --- */
.tech-lista {
  /* Flexbox elrendezés a badge-ekhez */
}

.tech-badge {
  border: 1px #ffffff;
  display: grid;
  grid-template-rows: 50px 1 fr;
  place-items: center;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  border-style: dashed;
  color: aqua;
  font: "Rubik";
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

.tech-badge:hover {
  color: rgb(147, 71, 219);
}

/* --- OLDALSÁV --- */
.oldalsav {
  padding: 50px 50px 50px 50px;
  background-image: linear-gradient(180deg, rgb(27, 28, 27), rgb(34, 57, 57));
  margin: 0;
  box-shadow: 1px -5px 5px aqua;
  color: #ffffff;
  padding: 20px;
  display: grid;
  grid-template-columns: 50px 2 fr;
  place-items: center;
}

.oldalsav-cim {
  font-size: 30px;
  padding: 30px;
}

.szerzo-nev {
  padding-bottom: 20px;
}

/* --- LINKEK --- */
.link-lista {
  list-style-type: none;
  padding-bottom: 50px;
  padding-top: 10px;
}

.kulso-link {
  font: "Rubik";
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: aqua;
  align-content: center;
  -webkit-transition: font-size 0.3s ease;
  transition: font-size 0.3s ease;
  display: inline-flexbox;
  width: 200px;
}

.kulso-link:hover {
  font-size: 20px;
}

/* --- LÁBLÉC --- */
.lablec {
  padding: 50px 50px 50px 50px;
  background-image: linear-gradient(180deg, rgb(27, 28, 27), rgb(34, 57, 57));
  margin: 0;
  box-shadow: 1px -5px 5px aqua;
}

.lablec-megjegyzes {
  font-size: 10px;
}

@keyframes glow {
  0% {
    text-shadow:
      0 0 5px aqua,
      0 0 10px aqua,
      0 0 15px aqua;
  }
  10% {
    text-shadow: 0 0 8px aqua;
  }
  50% {
    text-shadow: 0 0 5px aqua;
  }
  75% {
    text-shadow: 0 0 10px aqua;
  }
  100% {
    text-shadow: 0 0 10px aqua;
  }
}
